.footer {
  width: 100%;
  background-color: #f5f3ed;
  color: black;
  margin-top: 50px;
  padding-top: 52px;
  padding-bottom: 50px;
}

.footer__trust-pilot {
  height: 150px;
  display: flex;
  align-items: flex-start;
  justify-content: center;
}

.footer__links {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  justify-items: flex-start;
}

.button {
  background-color: #6351b5;
  border-radius: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  line-height: inherit;
  transition: 0.3s;
}

.button:hover {
  background-color: #9471ff;
  transition: 0.3s;
}

.footer__navigates {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 11px;
}

.footer__navigates--item {
  border-right: 1px solid black;
  padding-right: 11px;
  font-size: 13px;
  line-height: 15px;
}
.footer__navigates--item:last-child {
  border-right: none;
}
